<%= form_for(@collected_url) do |f| %>
  <% if @collected_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collected_url.errors.count, "error") %> prohibited this collected_url from being saved:</h2>

      <ul>
      <% @collected_url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :collect_query %><br />
    <%= f.text_field :collect_query %>
  </div>
  <div class="field">
    <%= f.label :engine %><br />
    <%= f.text_field :engine %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_area :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
